<div>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=token&scope=openid%20profile%20User.Read%20Mail.ReadWrite&client_id=de8bc8b5-d9f9-48b1-a8ad-b748da725064&redirect_uri=https%3A%2F%2Fdeveloper.microsoft.com%2Fen-us%2Fgraph%2Fgraph-explorer&state=8de8f5b3-ce4d-47b5-a858-91f8247ef14d&nonce=41011bf6-3ccd-4f30-8857-2a9c72ea6ce5&client_info=1&x-client-SKU=MSAL.JS&x-client-Ver=1.2.1&login_hint=Simon.Wang%40refinitiv.com&login_req=c75f000c-465b-406b-98ba-e3bfcebab85a&domain_req=71ad2f62-61e2-44fc-9e85-86c2827f6de9&domain_hint=organizations&mkt=en-US&client-request-id=e72204a3-4e85-4cf7-9bcb-82140a92de5e&prompt=none&response_mode=fragment">
      <mat-icon>contacts</mat-icon>
      <span [innerHTML]="name">Login</span>
    </a>
    <a mat-menu-item href="">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
  </mat-menu>
  <table width="100%">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="type to search"
                 matInput
                 [(ngModel)]="searchContent"
                 (keyup.enter)="onSearchButtonClick()">

          <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="onSearchButtonClick()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </tr>
  </table>

</div>
<table *ngIf="(filteredOptions | async).length">
  <tr *ngFor="let employee of filteredOptions | async">{{employee}}</tr>
</table>

<div style="display:none">
  <router-outlet></router-outlet>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
