<div>

  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="type to search"
           matInput
           [(ngModel)]="searchContent"
           (keyup.enter)="onSearchButtonClick()">

    <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="onSearchButtonClick()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

</div>
<table *ngIf="(filteredOptions | async).length">
  <tr *ngFor="let employee of filteredOptions | async">{{employee}}</tr>
</table>
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
