<div>
  <mat-menu #menu="matMenu">
    <a mat-menu-item (click)="onLogin()" [disabled]="loginDisabled">
      <mat-icon>contacts</mat-icon>
      <span [innerHTML]="this.auth.getUserName()">Login</span>
    </a>
    <a mat-menu-item (click)="onLogout()" [disabled]="logoutDisabled">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
  </mat-menu>
  <table width="100%">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="type to search"
                 matInput
                 [(ngModel)]="searchContent"
                 (keyup.enter)="onSearchButtonClick()">

          <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="onSearchButtonClick()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </tr>
  </table>

</div>
<table *ngIf="(filteredOptions | async).length">
  <tr *ngFor="let employee of filteredOptions | async">{{employee}}</tr>
</table>

<div style="display:none">
  <router-outlet></router-outlet>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
